/* ClientsStyle.css */

.client-table {
    width: 100%; /* Table width set to 100% */
    border-collapse: collapse;
    margin-bottom: 20px;
}

    .client-table th,
    .client-table td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
        width: auto; /* Cell width set to adjust dynamically */
    }

    .client-table th {
        background-color: #f2f2f2;
    }

    .client-table tbody tr:nth-child(even) {
        background-color: #f9f9f9;
    }

    .client-table tbody tr:hover {
        background-color: #f2f2f2;
    }
