#signup-footer {
    background-color: #333333;
    text-align: center;
}

#social-icons a {
    color: white;
    margin: 0 15px;
    font-size: 30px;
    transition: color 0.3s ease, transform 0.3s ease;
}

#social-icons a:hover {
    color: #0073e6;
    transform: scale(1.2); /* Slight enlargement on hover */
}

#footer-info {
    margin-top: 20px;
    font-size: 14px;
    color: white;
}

#footer-info div {
    margin: 5px 0;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    #footer-info {
        font-size: 12px;
    }

    #social-icons a {
        font-size: 24px;
        margin: 0 10px;
    }
}
